@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.error {
		@apply text-red-600 mb-4 font-bold;
	}

	.success {
		@apply text-green-600 mb-4 font-bold;
	}
}

.bb {
	border: 1px solid blue;
}

.br {
	border: 1px solid red;
}

.bw {
	border: 1px solid white;
}

.bg {
	border: 1px solid green;
}

.by {
	border: 1px solid yellow;
}
